<h1>Birds</h1>

<% @birds.each do |bird| %>
  <h2><%= bird.name %></h2>
  <p>Population: <%= bird.population %></p>
  <p>Migratory: <%= bird.migratory %></p>
  <p>Sexual Dichromatism: <%= bird.sexual_dichromatism %></p>
<% end %>  

